table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.header {
    background: #828282;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.header .logo {
    color: #fff;
    font-size: 18px;
}
.header .menu {
    display: flex;
    align-items: center;
}

.header .bell img {
    display: block;
    font-size: 30px;
    height: 30px;
    width: 30px;
    margin: auto 35px auto 0;
    color: #9e9e9e;
    -webkit-animation: ring 4s 0.7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s 0.7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s 0.7s ease-in-out infinite;
    transform-origin: 50% 4px;
    position: absolute;
}
.badge {
    position: relative;
    right: -18px;
    border-radius: 50%;
    background-color: red;
    visibility: visible;
    width: 10px;
    height: 10px;
}

.header .menu .notification .bell-animation {
    animation: belling 1s linear;
}
@keyframes belling {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(5deg);
    }
    30% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(-15deg);
    }
    70% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(-10deg);
    }
    10% {
        transform: rotate(0deg);
    }
}

/* 
.dopCircle {
    width: 50px;
    height: 50px;

    background-color: #2a2a2a;
    display: block;
    border-radius: 100px;
    animation: anim 3s 0.7s delay iteration-count normal fill-mode;
} */

.header .menu .user {
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px 25px;
}

.header .menu .user .user-icon img {
    display: block;
    font-size: 30px;
    height: 30px;
    width: 30px;
}

.header .menu .user .user-fullname {
    color: #fff;
    font-size: 18px;
    margin: auto 10px;
}
.header .menu .user .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #fff;
    width: 100px;
    z-index: 1;
    border: 1px solid #767676;
    border-top: none;
    padding: 10px 5px 10px 20px;
}
.header .menu .user .dropdown-content a {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: left;
    text-decoration: none;
    color: #4a4a4a;
}
.header .menu .user .dropdown-content a:last-child {
    margin-bottom: 10px;
}
.header .menu .user:hover .dropdown-content {
    display: block;
}

.header .menu .notification .dropdown-content {
    display: none;
    position: absolute;
    top: 80px;
    right: 150px;
    background-color: #fff;
    width: 100px;
    z-index: 1;
    border: 1px solid #767676;
    border-top: none;
    padding: 10px 5px 10px 20px;
}
.header .menu .notification .dropdown-content a {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: left;
    text-decoration: none;
    color: #4a4a4a;
}
.header .menu .notification .dropdown-content a:last-child {
    margin-bottom: 10px;
}
.header .menu .notification:hover .dropdown-content {
    display: block;
}

.container {
    width: 100%;
    display: flex;
}

.lefttab {
    width: 20%;
}

.cont {
    width: 80%;
    margin: 4% auto;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    padding: 40px 0 0 40px;
}
.navigation a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 18px;
}
.navigation .active {
    font-weight: bold;
}

.table-space {
    width: 80%;
    margin: 0 auto;
}

.h3 {
    font-size: 40px;
}

.table {
    width: 100%;
    text-align: center;
    font-weight: bold;
    align-items: center;
    align-content: center;
}

.table-space .edit {
    margin: 0;
    padding: 0;
}

.table-space .button {
    float: right;
    margin: 10px 0;
}

.table-space .choose-items {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 40%;
}

.table-space button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.table-space .choose-items img {
    width: 20px;
    height: 20px;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    display: block;
    border-radius: 100px;
    width: 15px;
    height: 15px;
}

.green {
    background: #00ff26;
}

.gray {
    background: #8a8c8d;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.modal .close {
    background: none;
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    line-height: 0;
    padding: 1px 3px;
    border: 1px solid #4a4a4a;
    cursor: pointer;
}
.modal .modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 1px solid #4a4a4a;
    border-radius: 8px;
}
.modal .modal-header {
    padding: 2px 16px;
    background-color: #fff;
    border-radius: 8px;
}
.modal .modal-body {
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
    padding: 50px 30px;
    font-weight: bold;
    font-size: 18px;
}
.modal .modal-footer {
    padding: 2px 16px;
    background-color: #fff;
    color: white;
    border-radius: 8px;
    padding: 15px 10px;
}
.modal .modal-footer .actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.modal .modal-footer .actions button {
    color: #5f5f5f;
    padding: 2px 10px;
    cursor: pointer;
    background: none;
    border: 1px solid #4a4a4a;
}
.show-modal {
    display: block;
}
.delete-modal .modal-content {
    width: 500px;
}
.edit-modal {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
}
.edit-modal .modal-content {
    width: 800px;
}
.modal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* .bubble {
    width: 10px;
    height: 10px;
    border: solid 1px #00ff26;
    border-radius: 50%;

    position: fixed;
    top: 80%;
    left: 80%;

    opacity: 0;

    animation: bubble_animation 3s linear infinite;
}

@keyframes bubble_animation {
    100% {
        opacity: 1;
        transform: scale(4, 4);
        border-color: #2aa;
    }
} */
